<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  	<title> Audatex Office Profiles | View Profile</title>
  	<link rel="stylesheet" th:href="@{/styles.css}"/>
</head>

<body>
 	 <a href="ThealeDirectory.html">
 	 <img th:src="@{/Audatex.jpg}" alt="Audatex" width="241" height="150"/>
 	 </a>

  <h1>Theale Staff Directory</h1>
  
  	<form id="form1" th:action="@{/ViewAll}" id="form1" th:method="get">
  	</form> 
  
  	<form>
		<p> Member deleted</p>
    		<input form ="form1" class="regButton" type = "submit" id = "Submit form"  value = "Okay" />
  	</form> 
  	
</body>
</html>