<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title> Audatex Office Profiles | View Profile</title>
  <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>

<body>
  	<a href="RickyDirectory.html">
    <img th:src="@{/Audatex.jpg}" alt="Audatex" width="241" height="150"/>
  	</a>

  	<h1 class ="Ricky">Rickmansworth Staff Directory</h1>
  
    	<ul class = "RickyNav"> 
     	<li><a href="RickyDirectory.html">Home</a></li>
      	<li><a href="AddProfilePageRicky.html">Add Profile</a></li>
      	<li class="SelRicky"><a href="ViewAllRicky.html">View All Profiles</a></li>
  	</ul>
  
    <label class="switch">
  		<input type="checkbox" id="myCheck" onclick="myFunction()" checked>
  		<span class="slider round"></span> 
  		<span class="on">Ricky</span>
  	</label>
  	
  	<script>
  
  	function myFunction() {
  			var checkBox = document.getElementById("myCheck");
  
  			if (checkBox.checked == true){
 
  			} else {
	   		document.location.href = 'http://localhost:8080/ThealeDirectory.html'
  	}
} 
  	</script>
  
<h2> View All Profiles </h2>
<div th:if="${not #lists.isEmpty(RickyInfo)}">    
  <table class="ProfilesTable">
    <tr>
      <th class="TableHeader">ID</th>
      <th class="TableHeader">First Name</th>
      <th class="TableHeader">Last Name</th>
      <th class="TableHeader">Age</th>
      <th class="TableHeader">Job Role</th>  	
    </tr> 
    
    <tr th:each="member : ${RickyInfo}">
      <td th:text="${member.id}" th:field="*{id}"  ></td>
      <td th:text="${member.name}" th:field="*{name}" ></td>
      <td th:text="${member.surname}" th:field="*{surname}" ></td>
      <td th:text="${member.age}" th:field="*{age}" ></td>
      <td th:text="${member.jobrole}" th:field="*{jobrole}" ></td>
      <td><a class="updateButton" th:href="@{/EditProfileRicky/{path}(path=${member.id})}"><span>Update</span></a></td>
   	  <td><a class="deleteButton" th:href="@{/DeleteConfirmRicky/{path}(path=${member.id})}"><span>Delete</span></a> </td>
    </tr>
  </table>  
</div>

</body>
</html>